*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 160px;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li {
    list-style-type:none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #4e1796;
    background: #4e1796;
    transition: 1s;
}
nav.fa fa-times{
    display: none;
}
nav.fa fa-bars{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top:0;
        right:0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size:22px ;
        cursor: pointer;
    }

}
/*----properties----*/
.properties{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 300;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.prop-col{
    flex-basis:31%;
    background: #beb4b4;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    box-shadow: 1px 7px #888;
    transition: 0.5s;
    
}
.prop-col:hover{
    box-shadow: 0 0 20px 0px #888;
}
@media (max-width:700px) {
    .row{
        flex-direction: column;
    }
    
}

/*---main---*/
#head{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:40px;
}
.plag{
    padding-left: 40px;
    padding-top: 30px;
    width:90%;
    
}
.plag img{
    width: 35%;
    float: right;

}
.headin{
    padding-bottom: 100px;
}

.acad p{
    padding-top: 30px;
    padding-right: 30px;
    padding-left:  40px; ;

}
.head1{
    width:80%;
    margin:auto;
    text-align:right;
    padding-top:40px;
    padding-right: 40px;

}
.acad{
    background-image: url(../img/wepik-2021925-20932.png);
}
.acad img{
    width: 40%;
    float: left;
    padding-right: 10px;
    
}
/*uniqueness box*/
.text2 h1{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:40px;
    font-size:40px;
    font-weight: 400;
}
.text2 p{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 30px;
    width:50%;
    
}
.text2 img{
    width: 35%;
    float: right;
    padding-right: 40px;
    margin: 50px auto;
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.5);
    transform-style:preserve-3d ;
}
footer{
    text-align:center;
    background:rgb(57, 65, 63);
    color:#fff;

}


